* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
    background: transparent;
    margin: 0px;
}

header {
    display: flex;
    position: relative;
    text-decoration: none;
    background-color: transparent;
    height: 120px;
    width: 100%;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* Send the video to the background */
}

.logo {
    margin-left: 80px;
}

.logo img {
    display: block;
    height: 100px;
    width: 100px;
    opacity: 1;

}

.header-p-text {
    opacity: 1;
    font-family: CamphorPro-Medium, Arial, sans-serif;
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: calc(.36458vw + 1.75px);
    color: #fff;
    background: transparent;
    padding-bottom: 50px;
}

.header-p-text2 {
    line-height: calc(4.16667vw + 22px);
    letter-spacing: calc(.075vw - .66px);
    font-size: calc(4.6875vw + 12.5px);
    font-family: AmasisMTPro, Times, serif;
    display: inline-block;
    color: #fff;
    padding-bottom: 50px;
}

.navigationBar {
    padding-top: 15px;
    margin: 20px;
    margin-left: 100px;


}

.navigationBar :hover {
    text-decoration: underline;

}

.navigationBar a {
    position: relative;
    font-size: 11px;
    text-transform: uppercase;
    font-family: CamphorPro-Medium, Arial, sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding: 10px;
    color: #000;
    letter-spacing: 1px;

}

.header-video {

    height: 550px;
}

.sub-div-two {
    display: flex;
    margin: 60px;
    margin-left: 35%;
    display: flex;
    color: #8d9498;
}

.sub-div-two div {
    margin: 30px;
    line-height: calc(.52083vw + 21.5px);
    font-family: AmasisMTPro, Times, serif;
    font-weight: 300;
}

.sub-div-three {
    display: flex;
    height: 400px;
    margin-bottom: 50px;


}

.form-div {
    margin-top: 50px;
    color: #8d9498;
    height: 450px;
    width: 700px;
    background-color: #f3f3f3;
    font-family: AmasisMTPro, Times, serif;
    font-weight: 400;
    text-align: center;
    padding: 6%;
    margin-left: 10%;
    text-align: start;
    font-size: 15px;
    line-height: 24px;
}

.sub-div-three img {
    width: 600px;
    height: 450px;
}


.sub-div-four {
    display: flex;
    height: 400px;
    margin-top: 200px;
    margin-bottom: 250px;


}

.form-div2 {
    margin-top: 50px;
    color: #8d9498;
    height: 500px;
    width: 600px;
    background-color: #f3f3f3;
    font-family: AmasisMTPro, Times, serif;
    font-weight: 400;
    text-align: center;
    padding: 6%;
    margin-right: 10%;
    text-align: start;
    font-size: 15px;
    line-height: 24px;
}

.sub-div-four img {
    width: 650px;
    height: 500px;
}

.sub-div-five {
    display: flex;
    gap: 35px;
    height: 400px;
    margin-left: 150px;
    margin-right: 200px;
    margin-bottom: 200px;
}

.sub-div-five img {
    height: 450px;
    width: 300px;
}

.sub-div-five h3 {
    font-family: AmasisMTPro, Times, serif;
    font-weight: 300;
    font-size: calc(.52083vw + 17.5px);
    color: #8d9498;
    padding-top: 20px;
}

footer {
    border: 1px solid #f3f3f3;
    background-color: #f3f3f3;
    height: 700px;


}

.footer-main {
    margin: 8%;

}

.footer-sub-div {
    display: flex;
    gap: 15%;
    padding-left: 40px;

}

.footer-text {
    color: #000;
    font-family: AmasisMTPro, Times, serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 31px;
    letter-spacing: normal;
}

.footer-text2 {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1.5px;
    font-family: CamphorPro-Medium, Arial, sans-serif;
    font-weight: 500;
    padding-top: 10px;
    color: #89868b;
}

.footer-sub-div-two {
    display: flex;
    gap: 18%;
    padding-left: 40px;
    margin-top: 40px;
}

.footer-bar a {

    font-family: CamphorPro-Medium, Arial, sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding: 20px;
    color: #89868b;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 1.5px;
    transition: color .2s;
}

.footer-bar {
    margin-top: 50px;
}